* {
	margin: 0 auto;
	padding: 0;
}
li {
	list-style: none;
}
a {
    text-decoration: none;
    color:black;
}
a:hover {
    text-decoration: line-through;
}
.bk {
	outline: none;
}
img {
	vertical-align: middle;
}
.clearfix::after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
em {
	font-style: normal;
}

button,input{
	border: 0;
	outline:none;
}