* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7kkyc2');
  src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-common {
	font-family: 'icomoon';
}
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

.bk {
	outline: none;
}
img {
	vertical-align: middle;
}
.clearfix::after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
em {
	font-style: normal;
}

button,input{
	border: 0;
	outline:none;
}

#scrollButton{
    display: none;
    position: fixed;
    margin: 0 1%;
    padding: 10px 25px;
    right: 10px;
    bottom: 15px;
    border: none;
    border-radius: 20px;
	font-size: 30px;
	background-color: #D9D9D9;
	user-select: none;
	z-index: 3;
}
#scrollButton:hover{
	background-color: #B3B3B3;
	transition: 1s;
}