
/*  body seciton */
.cart-section{
    width: 70%;
    text-align: center;
    margin: auto;
    min-height: 82vh;
}

.cart-section .cartH{
    text-align: center;
    font-size: 20px;
    font-size: 1.7em;
}

.cart-section .cartH h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.cart-section .cart-item {
    margin-top:45px;
    font-size: 14px;
    font-family:Copperplate,Copperplate Gothic Light,fantasy;
}
.cart-section .cart-item .block{
    padding: 15px;
    border-left: 8px solid #3EB489;
}

.cart-section .cart-button{
    height: 50px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #01bba2;
}

.cart-section .cart-button:hover{
    background-color: black;
}

.cart-section .cart-button .b1{
    font-size: 17px;
    font-family:Copperplate,Copperplate Gothic Light,fantasy;
    text-align: center;
    padding:30px;
    padding-top: 45px;
    color:white;
}

.cart-item .cart-item-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-item .cart-item-box div h4{
    padding: 10px;
    font-size: 2em;
}


.cart-item .cart-item-box div p{
    font-size: 1.5em;
}

.cart-item .cart-item-box button{
    padding: 12px 20px;
    border-radius: 20px;
    background-color:black;
    color: white;
    border: none;
    font-size: 1.2em;
}

.cart-item .cart-item-box button:hover{
    background-color: #01bba2;
}
/* body seciton end */