@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Playfair Display");
*{
    box-sizing: border-box;
}
.home-h1{
    font-size: 3em;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-bottom: 3.5px solid #3EB489;
}
.slideShow{
    position: relative;
    margin: auto;
    margin: 2%;
}
.slides{
    max-height: 500px;
    display: none;
    background-color: rgba(58, 58, 58, 0.603);
}
.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 400px;
}
.image-wrapper img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    height: 100%;
    width: 430px;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 33%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.caption{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.slideNum{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.modalBtn{
    background-color: #009484;
    padding: 10px;
    color: white;
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 1;
    border-radius: 3px;
    font-family: 'Quicksand', 'Titillium Web', sans-serif;
}
.modalBtn:hover{
    background-color: #008073;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #00806E;
    margin: 6% 20%;
    color: white;
    padding: 0% 1% 3%;
}
#modal-heading{
    font-size: 2.5em;
    margin: 2% 7%;
    padding-top: 5%;
    text-align: center;
    font-family: 'Playfair Display', 'Titillium Web', sans-serif;
}
.modal-paragraph{
    font-size: .75em;
    margin: 2% 15%;
    text-align: center;
}
.modal-paragraph a{
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px black;
}
.modal-paragraph a:hover{
    transition: 1s;
    color: white;
    text-shadow: 2px 1px #003629;
    border-bottom: 1px solid;
}
#email-label, #email-input, .button{
    margin: 0 22.5%;
    font-family: 'Quicksand', 'Titillium Web', sans-serif;
}
#email-input{
    height: 40px;
    padding: 1%;
}
.button{
    height: 55px;
    cursor: pointer;
    background-color: #007565;
    color: white;
    border-radius: 8px;
    user-select: none;
}
.button:hover{
    background-color: #007568;
    border: 1px ridge #7EBEAE;
}
.btn-container{
    margin: 0 22.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.close{
    color: #E4E4E4;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-right: 1%;
    user-select: none;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.products{
    display: flex;
    justify-content: space-between;
    font-family: 'Playfair Display', 'Titillium Web', sans-serif;
    margin: 1% 5%;
}
.category{
    padding: 0.5% 5%;
    font-size: 2.25em;
    margin: 0 1.5%;
    color: #00a27a;
    background-color: white;
    font-family: 'Playfair Display', 'Titillium Web', sans-serif;
}
.category:hover{
    transition: 1s;
    background-color: #0d8273;
    color: white;
}