.signup-h1, .login-h1 {
    margin: auto;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #008060;
    width: 440px;
    margin-bottom: 10px;
}

.signup-form, .login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.signup-form label, .login-form label{
    padding: 13px 0px 2px 0px;
    font-weight: bold;
    font-size: 0.93em;
}

.signup-form input, .login-form input{
    padding: 10px;
    border: none;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

.signup-form button, .login-form button {
    padding: 12px;
    border-radius: 20px;
    margin: 20px;
    background-color:#3EB489;
    color: white;
    border: none;
}

.signup-form button:hover, .login-form button:hover {
    background-color: black;
    transition: 0.2s;
    transform: scale(1.03);
    cursor: pointer;
}

#show-pw-label:hover{
    color: #3EB489;
}

.signup-status{
    text-align: center;
    margin: 2% 12.5% 1%;
    padding: 1%;
    font-size: 1.25em;
    background-color: #d7efe3;
    color: #3c7759;
    border-color: #c8ead9;
}

.login-form {
    min-height: 72vh;
}

#password-message {
    font-size: 0.8em;
    padding: 0px;
    color:#008060;
}

#show-pw-label:hover{
    color: #3EB489;
}