@import url("https://fonts.googleapis.com/css?family=Titillium Web");

body{
  font-family: 'Titillium Web', sans-serif;
  margin: 0px;
}

#home-body {
  position: relative;
  min-height: 100vh;
}
.nav-bar{
  overflow: hidden;
  position: sticky;
}
.nav-bar ul {
  float: right;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.nav-bar li a{
  text-decoration: none;
  float: left;
  top: 0;
  text-align: center;
  padding: 13px 16px;
  font-size: 17px;
  color: black;
}

.nav-bar li a:hover {
  color: #01bba2;
  transition: 0.2s;
  border-bottom: 5px solid #01bba2;
}

.bodyContent {
  height: 100%;
}

/* footer */
.footer{ 
  padding: 20px 20px 25px 20px;
  background-color: rgba(228, 238, 238, 0.89);
  margin-top: 40px;
  position: absolute;
  width: 100%;
}

.footer .lileft{
  float: left;
  font-size: 15px;
  font-weight: lighter;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  color: #000000;
}

.footer .liright{
  float: right;
  font-size: 16px;
  font-weight: lighter;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  color: #000000;
}
.footer .liright .f1{
  padding-right: 50px;
}
footer li a:hover{
  text-decoration: line-through;
  color: #000000;
}
/* footer end  */