@import url("https://fonts.googleapis.com/css?family=Titillium Web");

html{
	scroll-behavior: smooth;
}
body{
  font-family: 'Titillium Web', sans-serif;
  margin: 0px;
}
.nav-bar{
  overflow: hidden;
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: white;
}
.nav-bar ul {
  float: right;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.nav-bar li a{
  text-decoration: none;
  float: left;
  top: 0;
  text-align: center;
  padding: 13px 16px;
  font-size: 17px;
  color: black;
}
.nav-bar li a:hover {
  color: #3EB489;
  transition: 0.2s;
  border-bottom: solid;
  border-bottom-color: #3EB489;
  border-bottom-width: thick;
}
.signup-h1, .login-h1 {
  margin: auto;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #3EB489;
  width: 350px;
  margin-bottom: 10px;

}
.signup-form, .login-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
}
.signup-form label, .login-form label{
  padding: 13px 0px 2px 0px;
  font-weight: bold;
  font-size: 0.93em;
}
.signup-form input, .login-form input{
  padding: 10px;
  border: none;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
}
.signup-form button, .login-form button {
  padding: 12px;
  border-radius: 20px;
  margin: 20px;
  background-color:#3EB489;
  color: white;
  border: none;
}
.signup-form button:hover, .login-form button:hover {
  background-color: black;
  transition: 0.2s;
  transform: scale(1.03);
  cursor: pointer;
}
*{
  box-sizing: border-box;
}
.slideShow{
  position: relative;
  margin: auto;
}
.slides{
  max-height: 500px;
  display: none;
  background-color: rgba(0,0,0,0.7);
}
.image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  height: 400px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height: 100%;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.caption{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.slideNum{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover{
  background-color: #717171;
}
.category{
  font-size: 2.25em;
}
footer{
  margin-top: 2%;
  background-color: #B5B5B5;
  padding: 2%;
}
footer ul{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}
footer li a{
  text-decoration: none;
  color: white;
  padding: 13px 16px;
}
#scrollButton{
  display: none;
	position: fixed;
	margin: 0 1%;
	padding: 10px 25px;
	right: 10px;
	bottom: 15px;
	border: none;
	border-radius: 20px;
	font-size: 30px;
}