{% extends 'index.html' %}

{% block header %}
    <h1 class = "accessory-h1">{% block title %}Accessories{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="sidenav">
    <h3>Discover</h3>
    <a href="/women">Women</a>
    <a href="/men">Men</a>
    <a href="/kids">Kids</a>
    <a href="/accessory">Accessories</a>
</div>
<div class = "product-div">
    <figure>
        <form method="post" action="" enctype='application/x-www-form-urlencoded'>
            <div class="product-img-box">
                <button type = "submit">+</button>
                <img src = "static/images/accesory1.png" class = "product-img">
            </div>
            <figcaption>
                <input type = "text" name = "name" value = "Solid Beret(One size, Brown)" />
                <input type = "text" name = "price" value = "$5.00" />
                <input type = "hidden" name = "image" value = "static/images/accesory1.png" />
            </figcaption>
        </form>
    </figure>
    <figure>
        <form method="post" action="" enctype='application/x-www-form-urlencoded'>
            <div class="product-img-box">
                <button type = "submit">+</button>
                <img src = "static/images/accesory2.png" class = "product-img">
            </div>
            <figcaption>
                <input type = "text" name = "name" value = "1pair Metal Hoop Earrings" />
                <input type = "text" name = "price" value = "$2.75" />
                <input type = "hidden" name = "image" value = "static/images/accesory2.png" />
            </figcaption>
        </form>
    </figure>
    <figure>
        <form method="post" action="" enctype='application/x-www-form-urlencoded'>
            <div class="product-img-box">
                <button type = "submit">+</button>
                <img src = "static/images/accesory3.png" class = "product-img">
            </div>
            <figcaption>
                <input type = "text" name = "name" value = "UNREAL Baseball Cap(Black)" />
                <input type = "text" name = "price" value = "$4.00" />
                <input type = "hidden" name = "image" value = "static/images/accesory3.png" />
            </figcaption>
        </form>
    </figure>
    <figure>
        <form method="post" action="" enctype='application/x-www-form-urlencoded'>
            <div class="product-img-box">
                <button type = "submit">+</button>
                <img src = "static/images/accesory4.png" class = "product-img">
            </div>
            <figcaption>
                <input type = "text" name = "name" value = "UNREAL Baseball Cap(Blue)" />
                <input type = "text" name = "price" value = "$4.00" />
                <input type = "hidden" name = "image" value = "static/images/accesory4.png" />
            </figcaption>
        </form>
    </figure>
    <figure>
        <form method="post" action="" enctype='application/x-www-form-urlencoded'>
            <div class="product-img-box">
                <button type = "submit">+</button>
                <img src = "static/images/accesory5.png" class = "product-img">
            </div>
            <figcaption>
                <input type = "text" name = "name" value = "Geometric Pearl Charm Necklace" />
                <input type = "text" name = "price" value = "$2.50" />
                <input type = "hidden" name = "image" value = "static/images/accesory5.png" />
            </figcaption>
        </form>
    </figure>
    <figure>
        <form method="post" action="" enctype='application/x-www-form-urlencoded'>
            <div class="product-img-box">
                <button type = "submit">+</button>
                <img src = "static/images/accesory6.png" class = "product-img">
            </div>
            <figcaption>
                <input type = "text" name = "name" value = "1pair Golden Hoop Earrings" />
                <input type = "text" name = "price" value = "$3.25" />
                <input type = "hidden" name = "image" value = "static/images/accesory6.png" />
            </figcaption>
        </form>
    </figure>
</div>
{% endblock %}