{% extends 'index.html' %}

{% block header %}
    <h1 class = "home-h1">{% block title %}UNreal{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id = "home">
<button class="modalBtn" id="getDiscount" onclick="display()">Interested in <br> 10% Dicount?</button>
<div class="modal" id="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h1 id="modal-heading">Sign up for subscription to receive the 10% off coupon</h1>
        <p class="modal-paragraph">* By submitting this form, you agree to receive recurring automated promotional and personalized marketing email (ex. new arrivals & cart reminders). Consent is not a condition of any purchase.</p>
        <form method="post" action="/home" style="display: flex; justify-content: center; flex-direction: column;">
            <label for = "email" id="email-label">Email</label>
            <input id="email-input" type = "email" name = "email" placeholder="userName@example.com" required>
            <p class="modal-paragraph" style="margin-bottom: 0%;">Already an member? <a href='/login'>Login here!</a></p>
            <br><button class="button" id="signUpBtn">Sign me up for 10% off!</button><br>
        </form>
        <div class="btn-container">
            <button class="button" id="cancelBtn" onclick="closeModal()" style="margin: 0;">No, thanks!</button>
        </div>
    </div>
</div>
{% if status %}
    <h2 class="home-status">{{ status }}</h2>
{% endif %}
<div class="slideShow" id="slideShow">
    <div class="slides">
        <div class="slideNum">1 / 4</div>
        <div class="image-wrapper">
            <a href = "/women"><img src="static/images/women2.png"
                alt="women's wear"></a>
        </div>
        <div class="caption">Women's wear</div>
    </div>
    <div class="slides">
        <div class="slideNum">2 / 4</div>
        <div class="image-wrapper">
            <a href = "/men"><img src="static/images/men1.png"
                alt="men's wear"></a>
        </div>
        <div class="caption">Men's wear</div>
    </div>
    <div class="slides">
        <div class="slideNum">3 / 4</div>
        <div class="image-wrapper">
            <a href = "/kids"><img src="static/images/kids2.png"
                alt="kids' wear" ></a>
        </div>
        <div class="caption">Kids' wear</div>
    </div>
    <div class="slides">
        <div class="slideNum">4 / 4</div>
        <div class="image-wrapper">
            <a href = "/accessory"><img src="https://images.squarespace-cdn.com/content/v1/5c63a6d97a1fbd31149c46fd/1559181703512-FQRV75PI0D4M5OMSXVRZ/ke17ZwdGBToddI8pDm48kPIWxhR0J8TOmkw8gjtpUdh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0kMlYkjvFlctRdmAM11rxFTb6EvHVcuRCsw9z2ER5CHYMqbANK946mnhexQNPxvfUQ/shutterstock_767204755.jpg?format=2500w"
                alt="accessories"></a>
        </div>
        <div class="caption">Accessories</div>
    </div>
    <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
    <a class="next" onclick="changeSlide(1)">&#10095;</a>
<div>
<div style="text-align:center; margin-top: 1%;">
    <span class="dot" onclick="jumpToSlide(1)"></span> 
    <span class="dot" onclick="jumpToSlide(2)"></span> 
    <span class="dot" onclick="jumpToSlide(3)"></span> 
    <span class="dot" onclick="jumpToSlide(4)"></span> 
</div>
<div id="products" class="products">
    <p id="about-paragraph">Shop Here:</p>
    <button class="category" id="women" onclick="jumpToPage('/women')">Women</button>
    <button class="category" id="men" onclick="jumpToPage('/men')">Men</button>
    <button class="category" id="kids" onclick="jumpToPage('/kids')">Kids</button>
    <button class="category" id="accessories" onclick="jumpToPage('/accessory')">Accessories</button>
</div>
<script>
    var slideIndex = 1;
    setTimeout(showSlides(slideIndex), 2000);
    showSlides(slideIndex);
    function changeSlide(index){
        showSlides(slideIndex += index);
    }
    function jumpToSlide(index){
        showSlides(slideIndex = index);
    }
    function showSlides(index) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        if(index > slides.length)
            slideIndex = 1;
        if(index < 1)
            slideIndex = slides.length;
        for (i = 0; i < slides.length; i++)
            slides[i].style.display = "none";
        for (i = 0; i < dots.length; i++)
            dots[i].className = dots[i].className.replace(" active", "");
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
    function display(){
        let modal = document.getElementById("modal");
        modal.style.display = "block";
    }
    function closeModal(){
        let modal = document.getElementById("modal");
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        var my_modal = document.getElementById('modal');
        if (event.target == my_modal)
            my_modal.style.display = "none";
    }
    function jumpToPage(page){
        window.location.href = page;
    }
</script>
</div>
{% endblock %}