<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
		<div class="nav-bar">
			<div>
				<a href="/">Home</a>
				<a href="/login">Login</a>
				<a href="/signUp">Sign Up / Register</a>
				<a href="/cart">Cart</a>
				<a href="/about">About</a>
			</div>
		</div>
		<div class="bodyContent">
			<h1>This is a test!</h1>
		</div>
</body>
</html>