<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNreality</title>
	<link rel="stylesheet" type="text/css" href="static/nav-footer.css">
	<link rel="stylesheet" type="text/css" href="static/base.css"/>
	<link rel="stylesheet" type="text/css" href="static/cartstyle.css"/>
	<link rel="stylesheet" type="text/css" href="static/login-signup.css"/>
	<link rel="stylesheet" type="text/css" href="static/homepage.css"/>
	<link rel="stylesheet" type="text/css" href="static/product.css"/>
	<link rel="stylesheet" type="text/css" href="static/about-accountInfo.css"/>
	<link rel="stylesheet" type="text/css" href="static/help-contactInfo.css"/>
	<link rel="stylesheet" type="text/css" href="static/sidenav.css"/>
	<link rel="stylesheet" type="text/css" href="static/checkout.css"/>
</head>

<body id = "home-body">
	<div class="nav-bar">
		<div class="home" onclick="jumpToPage('/home')">UNreal</div>
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/signUp">Sign Up / Register</a></li>
			<li><a href="/cart">Cart</a></li>
			<div class="dropdown">
				<button id="dropdown-trigger" onclick="jumpToPage('/account')">Account<span id="down-arrow">▼</span></button>
				<div class="dropdown-menu">
					<ul>
						<li><a href="/account">Account Setting</a></li>
						<li><a href="/help">Help</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
					
				</div>
			</div>
		</ul>
	</div>
	<header>
		{% block header %}{% endblock %}
	</header>
	<div class="bodyContent">
		{% block content %}{% endblock %}
	</div>
	<button id="scrollButton" onclick="scrollToTop()">&#128285;</button>
	<footer>
		<div class="footer">
			<ul>
				<li class="lileft">
					<a href="/help">HELP</a>
				</li>
				<li class="liright">
					<a class="f1" href="/contactInfo">CONTACT</a>
					<a class="f1" href="/about">ABOUT US</a>
				</li>
			</ul>
		</div>
	</footer>
	<script>
		window.onscroll = function() {scrollFunction()};
		function scrollFunction() {
			var scrollBtn = document.getElementById("scrollButton");
			if(document.body.scrollTop > 10 || document.documentElement.scrollTop > 10)
				scrollBtn.style.display = "block";
			else
				scrollBtn.style.display = "none";
		}
		function scrollToTop(){
			window.scroll({top: 0, left: 0, behavior: 'smooth'});
		}
		function jumpToPage(page){
			window.location.href = page;
		}
	</script>
</body>
</html>