{% extends 'index.html' %}

{% block header %}
    <h1 class = "kids-h1">{% block title %}Kids{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "product-div">
    <figure>
        <img src = "static/images/kids1.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/kids2.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/kids3.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/kids4.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/kids5.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/kids6.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
</div>
{% endblock %}