{% extends 'index.html' %}

{% block header %}
    <h1 class = "men-h1">{% block title %}Men{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "product-div">
    <figure>
        <img src = "static/images/men1.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/men2.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/men3.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/men4.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/men5.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/men6.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
</div>
{% endblock %}