{% extends 'index.html' %}

{% block header %}
    <h1 class = "men-h1">{% block title %}Men{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "product-div">
    <figure>
        <img src = "https://ae01.alicdn.com/kf/Heec95dcd2ab14d0cabc64f956787f04dd/Womens-Cat-Long-Sleeve-Hoodie-Short-Sweatshirt-Hooded-Pullover-Tops-Blouse-Solid-Women-s-Sweatshirt-Blouse.jpg_q50.jpg" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "https://ae01.alicdn.com/kf/Heec95dcd2ab14d0cabc64f956787f04dd/Womens-Cat-Long-Sleeve-Hoodie-Short-Sweatshirt-Hooded-Pullover-Tops-Blouse-Solid-Women-s-Sweatshirt-Blouse.jpg_q50.jpg" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "https://ae01.alicdn.com/kf/Heec95dcd2ab14d0cabc64f956787f04dd/Womens-Cat-Long-Sleeve-Hoodie-Short-Sweatshirt-Hooded-Pullover-Tops-Blouse-Solid-Women-s-Sweatshirt-Blouse.jpg_q50.jpg" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "https://ae01.alicdn.com/kf/Heec95dcd2ab14d0cabc64f956787f04dd/Womens-Cat-Long-Sleeve-Hoodie-Short-Sweatshirt-Hooded-Pullover-Tops-Blouse-Solid-Women-s-Sweatshirt-Blouse.jpg_q50.jpg" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "https://ae01.alicdn.com/kf/Heec95dcd2ab14d0cabc64f956787f04dd/Womens-Cat-Long-Sleeve-Hoodie-Short-Sweatshirt-Hooded-Pullover-Tops-Blouse-Solid-Women-s-Sweatshirt-Blouse.jpg_q50.jpg" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "https://ae01.alicdn.com/kf/Heec95dcd2ab14d0cabc64f956787f04dd/Womens-Cat-Long-Sleeve-Hoodie-Short-Sweatshirt-Hooded-Pullover-Tops-Blouse-Solid-Women-s-Sweatshirt-Blouse.jpg_q50.jpg" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
</div>
{% endblock %}