{% extends 'index.html' %}

{% block header %}
    <h1 class = "women-h1">{% block title %}Women{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "product-div">
    <figure>
        <img src = "static/images/women1.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/women2.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/women3.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/women4.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/women5.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
    <figure>
        <img src = "static/images/women6.png" class = "product-img">
        <figcaption>
            <p>Name</p>
            <p>$10.00</p>
        </figcaption>
    </figure>
</div>
{% endblock %}